 <launch>

    <!-- Rosserial Arduino-->
    <node name="serial_node" pkg="rosserial_python" type="serial_node.py">
        <param name="port" type="string" value="/dev/ttyACM0"/>
        <param name="baud" type="int" value="57600"/>
    </node>

    <!-- Bringup Robot-->
    <node name="base_link" pkg="marubot" type="marubot_main.py"/>

    <!-- LiDAR -->
    <node name="lidar" pkg="tf2_ros" type="static_transform_publisher" args="0.06 0 0.14 0 0 0 base_link laser"></node> 
    
    <node pkg="hls_lfcd_lds_driver" type="hlds_laser_publisher" name="hlds_laser_publisher" output="screen">
        <param name="port" value="/dev/ttyUSB0"/>
        <param name="frame_id" value="laser"/>
    </node>

</launch>